name: Release Wheels

on:
  push:
  release:
    types:
      - published

jobs:
  build_wheel:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
      with:
        fetch-depth: -1
        fetch-tags: true
    - uses: actions/setup-python@v6
      with:
        python-version: 3.13
        cache: pip
    - run: pip wheel .
    - uses: actions/upload-artifact@v6
      with:
        name: wheel
        path: ./*.whl

  upload_wheel_test:
    needs: [build_wheel]
    runs-on: ubuntu-latest
    if: github.repository_owner == 'DelfinaCare' && github.ref == 'refs/heads/main'
    environment:
        name: pypi-test
        url: https://test.pypi.org/p/once-py
    permissions:
      id-token: write
    steps:
      - uses: actions/download-artifact@v7
        with:
            name: wheel
            path: dist/
      - uses: pypa/gh-action-pypi-publish@release/v1
        with:
            repository-url: https://test.pypi.org/legacy/

  upload_wheel:
    needs: [build_wheel]
    runs-on: ubuntu-latest
    if: github.event_name == 'release' && github.event.action == 'published'
    environment:
        name: pypi
        url: https://pypi.org/p/once-py
    permissions:
      id-token: write
    steps:
      - uses: actions/download-artifact@v7
        with:
            name: wheel
            path: dist/
      - uses: pypa/gh-action-pypi-publish@release/v1
